$multi-step__background-color: #f0f0f0 !default;
$multi-step__border-color: #aeaeae !default;
$multi-step__highlighted-color: #3dcc4a !default;
$multi-step__muted-color: #ccc !default;
$multi-step__selected-color: #216ba5 !default;
$multi-step__text-color: #000 !default;

$multi-step__border-radius: .3rem !default;
$multi-step__day-margin: .166rem !default;
$multi-step__font-size: .8rem !default;
$multi-step__item-size: 1.7rem !default;
$multi-step__margin: .4rem !default;
$multi-step__navigation-size: .45rem !default;
$multi-step__triangle-size: 8px !default;
